Temp/
Library/
obj/
docs/
*.svd
*.apk
.DS_Store

*.pidb*
*.userprefs*
*.pdb*
*.mdb*

Assets/AssetStoreTools*

AndroidBuild*
iOSBuild*

# Teak SDK Files
Assets/Plugins/Android/res.meta
Assets/Plugins/Android/res/
Assets/Plugins/Android/teak.jar
Assets/Plugins/Android/teak.jar.meta
Assets/Teak.meta
Assets/Teak/
