<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:amazon="http://schemas.amazon.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.unity3d.player" android:installLocation="preferExternal" android:versionCode="1" android:versionName="1.0">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <application android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:icon="@drawable/icon_normal" android:label="@string/app_name" android:debuggable="true">
    <activity android:name="io.teak.sdk.wrapper.unity.TeakUnityPlayerActivity" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" android:host="teakangrybots.jckpt.me" />
        <data android:scheme="https" android:host="teakangrybots.jckpt.me" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="teak1136371193060244" android:host="*" />
      </intent-filter>
    </activity>

    <receiver android:name="io.teak.sdk.Teak" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="io.teak.sdk.sd.intent.TEAK_NOTIFICATION_OPENED" />
        <action android:name="io.teak.sdk.sd.intent.TEAK_NOTIFICATION_CLEARED" />
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        <category android:name="io.teak.sdk.sd" />
      </intent-filter>
    </receiver>

    <service android:name="io.teak.sdk.InstanceIDListenerService" android:exported="false" >
        <intent-filter>
            <action android:name="com.google.android.gms.iid.InstanceID" />
        </intent-filter>
    </service>

    <service android:name="io.teak.sdk.service.RavenService" android:process=":teak.raven" android:exported="false" />

    <!-- Amazon ADM -->
    <amazon:enable-feature
            android:name="com.amazon.device.messaging"
            android:required="false"/>
    <service android:name="io.teak.sdk.ADMMessageHandler"
        android:exported="false" />
    <receiver
        android:name="io.teak.sdk.ADMMessageHandler$MessageAlertReceiver"
        android:permission="com.amazon.device.messaging.permission.SEND" >
        <intent-filter>
            <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
            <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
            <category android:name="io.teak.sdk.sd" />
        </intent-filter>
    </receiver>
  </application>

  <!-- Push notification permissions -->
  <permission android:name="io.teak.sdk.sd.permission.C2D_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="io.teak.sdk.sd.permission.C2D_MESSAGE" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <!-- ADM Stuff -->
  <permission
      android:name="com.teakio.pushtest.permission.RECEIVE_ADM_MESSAGE"
      android:protectionLevel="signature" />
  <uses-permission android:name="com.teakio.pushtest.permission.RECEIVE_ADM_MESSAGE" />
  <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <!-- End ADM Stuff -->

  <!-- Work-around to stop Unity 5 from adding these permissions -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" android:maxSdkVersion="1" />
</manifest>